{%- assign _posts = include.posts -%}

{%- comment -%} main value : post list {%- endcomment -%}
{%- capture _post_list %}

    {%- comment -%} generating the post list {%- endcomment -%}
    {%- for post in _posts -%}
        <li>
            {%- comment -%} initialization  {%- endcomment -%}
            {%- assign _post_title = post.title -%}
            {%- assign _date_of_creation = post.date_of_creation -%}
            {%- assign _date_of_modification = post.date_of_modification -%}

            {%- comment -%} handling empty strings {%- endcomment -%}

            {%- if _post_title == "" -%}
                {%- assign _post_title = null -%}
            {%- endif -%}

            {%- if _date_of_creation == "" -%}
                {%- assign _date_of_creation = null -%}
            {%- endif -%}

            {%- if _date_of_modification == "" -%}
                {%- assign _date_of_modification = null -%}
            {%- endif -%}

            {%- comment -%} Processing {%- endcomment -%}
            
            {%- capture _post_id -%}
                {%- include as_id_from_date.liquid date=_date_of_creation -%}
            {%- endcapture -%}

            {%- capture _post_color_background -%}
                {%- include as_color_background_from_date.liquid date=_date_of_creation -%}
            {%- endcapture -%}

            {%- if _date_of_modification-%}

            {%- assign _short_date = _date_of_modification | split: " " -%}
            {%- assign _short_date = "#modified " | append: _short_date[1] | append: " " | append: _short_date[2] -%}

            {%- endif -%}

            <article class="post {{ _post_color_background }}" itemscope itemtype="http://schema.org/BlogPosting">

                <header class="post-header">

                    {%- if _post_title -%}
                        <h1 id="{{ _post_id }}" class="post-title" itemprop="name headline">
                            {{ _post_title }}
                        </h1>
                    {%- endif -%}

                </header>

                <div class="post-content" itemprop="articleBody">

                    {{ post.content }}

                    <br>

                    {%- if post.date_of_creation -%}
                        <span class='date date_of_creation'>
                            {{ post.date_of_creation }}
                        </span>
                    {%- endif -%}

                    <br>

                    {%- if _date_of_modification -%}
                        <span class="date date_of_modification">
                            {{ _short_date }}
                        </span>
                    {%- endif -%}
                </div>

            </article>
        </li>
    {%- endfor -%}

{%- endcapture -%}

{%- comment -%} return {%- endcomment -%}
{{ _post_list }}

{%- comment -%} resetting {%- endcomment -%}
{%- assign _posts = null -%}
{%- assign _post_title = null -%}
{%- assign _date_of_creation = null -%}
{%- assign _date_of_modification = null -%}
{%- assign _post_list = null -%}
{%- assign _short_date = null -%}

