{%- comment -%}as_html_top_and_bottom_arrows_from_date_top_and_date_bottom.liquid {%- endcomment -%}

{%- comment -%} dates {%- endcomment -%}
{%- assign _html_top_and_bottom_arrows_1690556635180082201 = null -%}

{%- comment -%} _top_id_1690556635180082201 {%- endcomment -%}
{%- include as_id_from_date.liquid from_date=include.from_date_top -%}
{%- assign _top_id_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} _bottom_id_1690556635180082201 {%- endcomment -%}
{%- include as_id_from_date.liquid from_date=include.from_date_bottom -%}
{%- assign _bottom_id_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} _top_color_1690556635180082201 {%- endcomment -%}
{%- include as_color_background_from_date.liquid from_date=include.from_date_top -%}
{%- assign _top_color_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} _bottom_color_1690556635180082201 {%- endcomment -%}
{%- include as_color_background_from_date.liquid from_date=include.from_date_bottom -%}
{%- assign _bottom_color_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}


{%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
{%- if _top_id_1690556635180082201 and _bottom_id_1690556635180082201 -%}

    {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
    {%- if _top_id_1690556635180082201 != null  and _bottom_id_1690556635180082201 != null -%}

        {%- capture _html_top_and_bottom_arrows_1690556635180082201 -%}
            <span class="arrow_to_page_top">
                    <a class="button {{ _top_color_1690556635180082201 }}" href="#{{ _top_id_1690556635180082201 }}"> Newest </a>
                    {% comment %}<a class="button {{ _top_color_1690556635180082201 }}" href="#{{ _top_id_1690556635180082201 }}"> &UpArrowBar; </a>{% endcomment %}
            </span>
            <span class="arrow_to_page_bottom">
                     <a class="button {{ _bottom_color_1690556635180082201 }}" href="#{{ _bottom_id_1690556635180082201 }}"> Oldest </a>
                     {% comment %}<a class="button {{ _bottom_color_1690556635180082201 }}" href="#{{ _bottom_id_1690556635180082201 }}"> &DownArrowBar; </a>{% endcomment %}
            </span>
        {%- endcapture -%}
        
    {%- endif -%}

{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- assign return = _html_top_and_bottom_arrows_1690556635180082201 -%}

{%- comment -%} resetting variables and stripping last line {%- endcomment -%}
{%- assign _top_id_1690556635180082201 = null -%}
{%- assign _bottom_id_1690556635180082201 = null -%}
{%- assign _html_top_and_bottom_arrows_1690556635180082201 = null -%}