{%- comment -%} as_html_the_post_list_from_posts.liquid {%- endcomment -%}

{%- comment -%} Initialization {%- endcomment -%}

{%- comment -%} main value {%- endcomment -%}
{%- assign _html_the_post_list_1690556428999239446 = null -%}

{%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
{%- if include.from_posts -%}

    {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
    {%- if include.from_posts != "" -%}

        {%- comment -%} main value : post list {%- endcomment -%}
        {%- capture _html_the_post_list_1690556428999239446 %}

            {%- comment -%} generating the post list {%- endcomment -%}
            {%- for post in include.from_posts -%}
                <li>
                {%- comment -%} initialization  {%- endcomment -%}

                    {%- comment -%} _post_id_1690556428999239446 {%- endcomment -%}
                    {%- include as_id_from_date.liquid from_date=post.date_of_creation -%}
                    {%- assign _post_id_1690556428999239446 = return -%}
                    {%- assign return = null -%}
                    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

                    {%- comment -%} _color_background_1690556428999239446 {%- endcomment -%}
                    {%- include as_color_background_from_date.liquid from_date=post.date_of_creation -%}
                    {%- assign _color_background_1690556428999239446 = return -%}
                    {%- assign return = null -%}
                    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

                    {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                    {%- if _post_id_1690556428999239446 -%}

                        {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                        {%- if _post_id_1690556428999239446 == "" -%}
                            {%- assign _post_id_1690556428999239446 = "DATE_DOES_NOT_CONTAIN_ID" -%}
                        {%- endif -%}

                    {%- endif -%}

                    {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                    {%- if post.date_of_modification -%}

                        {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                        {%- if post.date_of_modification != "" -%}

                            {%- comment -%} post.date_of_modification {%- endcomment -%}
                            {%- include as_modification_date_from_custom_date.liquid from_custom_date=post.date_of_modification -%}
                            {%- assign _modification_date_1690556428999239446 = return -%}
                            {%- assign return = null -%}

                        {%- endif -%}

                    {%- endif -%}

                    <article class="post {{ _color_background_1690556428999239446 }}" itemscope
                             itemtype="http://schema.org/BlogPosting">

                    <header class="post-header">
                        
                        {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                        {%- if post.title -%}

                            {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                            {%- if post.title != "" -%}

                                <h1 id="{{ _post_id_1690556428999239446 }}"
                                    class="post-title"
                                    itemprop="name headline">
                                    
                                    {{ post.title }}
                                    
                                </h1>

                            {%- endif -%}
                        {%- endif -%}

                    </header>

                    <div class="post-content" itemprop="articleBody">

                        {{ post.content }}

                        <br>


                        {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                        {%- if post.date_of_creation -%}

                            {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                            {%- if post.date_of_creation != "" -%}

                                <span class='date date_of_creation'>
                                    {{ post.date_of_creation }}
                                </span>
                                
                            {%- endif -%}
                        {%- endif -%}

                        <br>
                        {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                        {%- if _modification_date_1690556428999239446 -%}

                            {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
                            {%- if _modification_date_1690556428999239446 != "" -%}

                                <span class="date date_of_modification">
                                {{ _modification_date_1690556428999239446 }}
                            </span>

                            {%- endif -%}
                        {%- endif -%}
                    </div>

                </article>
            </li>

            {%- endfor -%}

        {%- endcapture -%}

    {%- endif -%}

{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- assign return = _html_the_post_list_1690556428999239446 -%}

{%- comment -%} resetting {%- endcomment -%}
{%- assign _html_the_post_list_1690556428999239446 = null -%}
{%- assign _modification_date_1690556428999239446 = null -%}
{%- assign _color_background_1690556428999239446 = null -%}
