{%- comment -%}as_html_top_and_bottom_arrows_from_date_top_and_date_bottom.liquid {%- endcomment -%}

{%- comment -%} dates {%- endcomment -%}
{%- assign html_top_and_bottom_arrows_1690556635180082201 = null -%}

{%- comment -%} top_id_1690556635180082201 {%- endcomment -%}
{%- include as_id_from_date.liquid from_date=include.from_date_top -%}
{%- assign top_id_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} bottom_id_1690556635180082201 {%- endcomment -%}
{%- include as_id_from_date.liquid from_date=include.from_date_bottom -%}
{%- assign bottom_id_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} top_color_1690556635180082201 {%- endcomment -%}
{%- include as_color_background_from_date.liquid from_date=include.from_date_top -%}
{%- assign top_color_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} bottom_color_1690556635180082201 {%- endcomment -%}
{%- include as_color_background_from_date.liquid from_date=include.from_date_bottom -%}
{%- assign bottom_color_1690556635180082201 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}



{%- if top_id_1690556635180082201 and bottom_id_1690556635180082201 -%}


    {%- if top_id_1690556635180082201 != null  and bottom_id_1690556635180082201 != null -%}

        {%- capture html_top_and_bottom_arrows_1690556635180082201 -%}
            <span class="arrow_to_page_top">
                    <a class="button {{ top_color_1690556635180082201 }}" href="#{{ top_id_1690556635180082201 }}"> Newest </a>
                    {% comment %}<a class="button {{ top_color_1690556635180082201 }}" href="#{{ top_id_1690556635180082201 }}"> &UpArrowBar; </a>{% endcomment %}
            </span>
            <span class="arrow_to_page_bottom">
                     <a class="button {{ bottom_color_1690556635180082201 }}" href="#{{ bottom_id_1690556635180082201 }}"> Oldest </a>
                     {% comment %}<a class="button {{ bottom_color_1690556635180082201 }}" href="#{{ bottom_id_1690556635180082201 }}"> &DownArrowBar; </a>{% endcomment %}
            </span>
        {%- endcapture -%}
        
    {%- endif -%}

{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- assign return = html_top_and_bottom_arrows_1690556635180082201 -%}

{%- comment -%} resetting variables and stripping last line {%- endcomment -%}
{%- assign top_id_1690556635180082201 = null -%}
{%- assign bottom_id_1690556635180082201 = null -%}
{%- assign html_top_and_bottom_arrows_1690556635180082201 = null -%}