{%- comment -%} as_html_the_post_list_with_url_from_posts.liquid {%- endcomment -%}
{%- assign _posts = include.posts -%}

{%- comment -%} main value : post list {%- endcomment -%}
{%- capture _post_list %}
    <ul>
    {% comment %}{% endcomment %}
    {%- comment -%} generating the post list {%- endcomment -%}
    {% comment %}{% endcomment %}
    {%- for post in _posts -%}
        <li>
            {%- comment -%} initialization  {%- endcomment -%}
            {%- assign _post_title = post.title -%}
            {%- assign _date_of_creation = post.date_of_creation -%}

            {%- comment -%} handling empty strings {%- endcomment -%}

            {%- if _post_title == "" -%}
                {%- assign _post_title = null -%}
            {%- endif -%}

            {%- if _date_of_creation == "" -%}
                {%- assign _date_of_creation = null -%}
            {%- endif -%}

            {%- comment -%} Processing {%- endcomment -%}

            <a href="{{ post.url | relative_url }}"> {{ post.title }} {{ _date_of_creation }}</a>
            {% comment %}{% endcomment %}
        </li>
        {% comment %}{% endcomment %}
    {%- endfor -%}
    </ul>

{%- endcapture -%}

{%- comment -%} return {%- endcomment -%}
{%- assign _return = _post_list | upcase -%}
{%- case _return -%}
    {%- when "" or "NULL" or null -%}
        {{ 'null' }}
    {%- else -%}
        {{ _post_list }}
{%- endcase -%}
{%- assign _return = null -%}

{%- comment -%} resetting {%- endcomment -%}
{%- assign _posts = null -%}
{%- assign _post_title = null -%}
{%- assign _date_of_creation = null -%}
{%- assign _date_of_modification = null -%}
{%- assign _post_list = null -%}
{%- assign _short_date = null -%}

