{%- include CONSTANTS/ALL.liquid -%}

{%- assign post_tags_1691010490420939832 = include.from_post.tags -%}

{%- comment -%} first_post_id_1691010490420939832 {%- endcomment -%}
{%- include as_self_or_null_the_variable_initialized_from_variable.liquid from_variable=include.with_first_post_id -%}
{%- assign first_post_id_1691010490420939832 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} last_post_id_1691010490420939832 {%- endcomment -%}
{%- include as_self_or_null_the_variable_initialized_from_variable.liquid from_variable=include.with_last_post_id -%}
{%- assign last_post_id_1691010490420939832 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} post_content_1691010490420939832 {%- endcomment -%}
{%- if include.from_post.layout == "layout_post" -%}

	{%- comment -%} page {%- endcomment -%}

	{%- if include.from_post.category == "" or include.from_post.category == null -%}

		{%- assign post_content_1691010490420939832 = content -%}

	{%- else -%}

		{%- comment -%} post {%- endcomment -%}

		{%- assign post_content_1691010490420939832 = include.from_post.content -%}

	{%- endif -%}

{%- endif -%}

{%- comment -%} post id {%- endcomment -%}
{%- include as_string_the_post_id_from_date.liquid from_date=include.from_post.date_of_creation -%}
{%- assign post_id_1691010490420939832 = return -%}
{%- assign return = null -%}

{%- comment -%} post_title_1691010490420939832 {%- endcomment -%}
{%- include as_string_the_html_post_title_from_post.liquid from_post=include.from_post -%}
{%- assign post_title_1691010490420939832 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} post_date_of_creation_1691010490420939832 {%- endcomment -%}
{%- include as_string_the_html_date_of_creation_from_post.liquid from_post=include.from_post -%}
{%- assign post_date_of_creation_1691010490420939832 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} post_date_of_modification_1691010490420939832 {%- endcomment -%}
{%- include as_string_the_html_date_of_modification_from_post.liquid from_post=include.from_post -%}
{%- assign post_date_of_modification_1691010490420939832 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} button newest_post {%- endcomment -%}
{% comment %}{%- include as_string_the_html_button_newest_post_from_post_id.liquid from_post_id=first_post_id_1691010490420939832 -%}{% endcomment %}
{% comment %}{%- assign button_newest_post_1691010490420939832 = return -%}{% endcomment %}
{% comment %}{%- assign return = null -%}{% endcomment %}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} button oldest_post {%- endcomment -%}
{% comment %}{%- include as_string_the_html_button_oldest_post_from_post_id.liquid from_post_id=last_post_id_1691010490420939832 -%}{% endcomment %}
{% comment %}{%- assign button_oldest_post_1691010490420939832 = return -%}{% endcomment %}
{% comment %}{%- assign return = null -%}{% endcomment %}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} button home {%- endcomment -%}
{% comment %}{%- include as_string_the_html_button_home.liquid -%}{% endcomment %}
{% comment %}{%- assign button_home_1691010490420939832 = return | append: " " -%}{% endcomment %}
{% comment %}{%- assign return = null -%}{% endcomment %}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} button post {%- endcomment -%}
{%- include as_string_the_html_button_post_from_post.liquid from_post=include.from_post -%}
{%- assign button_post_1691010490420939832 = return | append: " " -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} button `#tags` {%- endcomment -%}
{%- include as_string_the_html_button_tag_from_word.liquid from_word="tags" -%}
{%- assign button_tags_1691010490420939832 = return | append: " " -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} buttom `#posts` for post layout {%- endcomment -%}
{%- capture button_posts_1691010490420939832 -%}
	{%- if page.layout == "layout_post" -%}

		{%- comment -%} when in `#tags` post {%- endcomment -%}
		{%- if page.title == "#tags" -%}
			<a class="button {{ background_color }}" href="{{ '/tag/posts' | relative_url }}">
			#posts 
			</a>

		{%- else -%}
			{%- comment -%} <a class="button {{ background_color }}" {%- endcomment -%}
			<a class="button button_home_background_color"
				 href="{{ '/tag/posts#' | append: post_id_1691010490420939832 | relative_url }}">
			{{ BUTTON_POSTS }} 
			</a>
		{%- endif -%}

	{%- endif -%}

{%- endcapture -%}

{% comment %} vvvvvvvvvvvvvvv MUTING BUTTONS vvvvvvvvvvvvvvv {% endcomment %}

{%- assign _page_title_1691010490420939832 = page.title | downcase -%}

{%- comment -%} tags page : muting tags button & other {%- endcomment -%}
{%- if _page_title_1691010490420939832 == "#tags" -%}

	{%- assign button_tags_1691010490420939832 = null -%}
	{%- assign button_post_1691010490420939832 = null -%}
	{%- assign button_newest_post_1691010490420939832 = null -%}
	{%- assign button_oldest_post_1691010490420939832 = null -%}

{%- endif -%}

{%- if first_post_id_1691010490420939832 -%}

	{%- comment -%} if the post id is the first one{%- endcomment -%}
	{%- if post_id_1691010490420939832 == first_post_id_1691010490420939832 -%}

		{%- comment -%} don't display the newest button {%- endcomment -%}
		{%- assign button_newest_post_1691010490420939832 = null -%}

	{%- endif -%}

{%- endif -%}

{%- comment -%} last post : muting last button {%- endcomment -%}
{%- if last_post_id_1691010490420939832 -%}

	{%- comment -%} if the post id is the first one{%- endcomment -%}
	{%- if post_id_1691010490420939832 == last_post_id_1691010490420939832 -%}

		{%- comment -%} don't display the oldest post button {%- endcomment -%}
		{%- assign button_oldest_post_1691010490420939832 = null -%}

	{%- endif -%}

{%- endif -%}

{%- comment -%} only one post : muting last and first button {%- endcomment -%}
{%- if first_post_id_1691010490420939832 == last_post_id_1691010490420939832 -%}

	{%- comment -%} don't display the buttons {%- endcomment -%}
	{%- assign button_oldest_post_1691010490420939832 = null -%}
	{%- assign button_newest_post_1691010490420939832 = null -%}

{%- endif -%}

{%- if page.layout == "layout_post" -%}

	{%- comment -%} doesn't show id in single posts {%- endcomment -%}
	{%- assign button_post_1691010490420939832 = null -%}

	{%- comment -%}doesn't show oldest post button in single posts {%- endcomment -%}
	{%- assign button_oldest_post_1691010490420939832 = null -%}

	{%- comment -%}doesn't show the newest newest post button in single posts {%- endcomment -%}
	{%- assign button_newest_post_1691010490420939832 = null -%}

{%- endif -%}
{% comment %} ^^^^^^^^^^^^^^ END OF MUTING BUTTONS ^^^^^^^^^^^^^^ {% endcomment %}

{%- comment -%} tags {%- endcomment -%}
{%- capture tags_1691010490420939832 -%}

	{%- for tag in post_tags_1691010490420939832 -%}

		{%- comment -%} --- skipping conditions --- {%- endcomment -%}
		{%- comment -%} using `if` to collapse code in IDE {%- endcomment -%}
		{%- if true -%}

			{%- unless tag contains "#" -%}
				{%- continue -%}
			{%- endunless -%}

			{%- if page.category == "post" -%}

				{%- if tag == "#posts" -%}
					{%- continue -%}
				{%- endif -%}

			{%- endif -%}

		{%- endif -%}

		{%- comment -%} getting tag {%- endcomment -%}
		{%- include as_string_the_html_button_tag_from_word.liquid from_word=tag -%}

		{%- comment -%} 
		the space is just for PHP storm because it keeps removing trailing and starting space at reformatting
		{%- endcomment -%}

		{%- assign tag_1691010490420939832 = return | append: " " -%}
		{%- assign return = null -%}
		{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

		{%- comment -%} only for timeline tags, ignore tag if same as page {%- endcomment -%}
		{% comment -%}@task : category {% endcomment -%}
		{%- if page.category != "post" -%}

			{%- comment -%} get the tag word {%- endcomment -%}
			{%- assign tag_word_1691010490420939832 = tag | replace: "#", "" -%}

			{%- comment -%} get the tag the page {%- endcomment -%}
			{%- assign page_permalink_tag_1691010490420939832 = page.permalink | split: "/" | last -%}

			{%- comment -%} dealing with empty string : permalink {%- endcomment -%}
			{%- if page_permalink_tag_1691010490420939832 == "" -%}
				{%- assign page_permalink_tag_1691010490420939832 = null -%}
			{%- endif -%}

			{%- comment -%} dealing with empty string : tag_word_1691010490420939832 {%- endcomment -%}
			{%- if tag_word_1691010490420939832 == "" -%}
				{%- assign tag_word_1691010490420939832 = null -%}
			{%- endif -%}

			{%- comment -%} do not display the tag when it is the same as the page {%- endcomment -%}
			{%- if page.permalink and tag_word_1691010490420939832 and page_permalink_tag_1691010490420939832 == tag_word_1691010490420939832 -%}

				{%- continue -%}

			{%- endif -%}

		{%- endif -%}

		{%- comment -%} tag {%- endcomment -%}
		{{ tag_1691010490420939832 }}
	{%- endfor -%}
{%- endcapture -%}

{% comment %} tags render {% endcomment %}
{%- capture post_tags_1691010490420939832 -%}

	<div class="tags">

		{%- comment -%} newest post button {%- endcomment -%}
		{{ button_newest_post_1691010490420939832 }}

		{%- comment -%} oldest post button {%- endcomment -%}
		{{ button_oldest_post_1691010490420939832 }}

		{%- comment -%} id button {%- endcomment -%}
		{{ button_post_1691010490420939832 }}

		{%- comment -%} post button {%- endcomment -%}
		{{ button_posts_1691010490420939832 }}

		{%- comment -%} tags button {%- endcomment -%}
		{{ button_tags_1691010490420939832 }}

		{%- comment -%} other buttons {%- endcomment -%}
		{{ tags_1691010490420939832 }}
	
</div>
{%- endcapture -%}

{%- comment -%} vvvvvvvvvvvvvvvv page HTML vvvvvvvvvvvvvvvv {%- endcomment -%}

{%- capture return -%}

	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

		{{ post_title_1691010490420939832 }}

		{{ post_content_1691010490420939832 }}

		<div class="dates">
		{{ post_date_of_creation_1691010490420939832 }}
			<br>
			{{ post_date_of_modification_1691010490420939832 }}
			<br>
		</div>
		
		<div class="footer" aria-label="footer">

				<div aria-label="tags">
						{{ post_tags_1691010490420939832 }}
				</div>

		</div>

		<hr class="reader">
		{% comment %}<hr>{% endcomment %}

	</article>

{%- endcapture -%}

{%- comment -%}/// resetting ///{%- endcomment -%}
{%- assign post_content_1691010490420939832 = null -%}
{%- assign post_date_of_creation_1691010490420939832 = null -%}
{%- assign post_date_of_modification_1691010490420939832 = null -%}
{%- assign post_title_1691010490420939832 = null -%}
{%- assign post_tags_1691010490420939832 = null -%}
{%- assign post_id_1691010490420939832 = null -%}
{%- assign tag_url_1691010490420939832 = null -%}
{%- assign first_post_id_1691010490420939832 = null -%}
{%- assign last_post_id_1691010490420939832 = null -%}
{%- assign button_newest_post_1691010490420939832 = null -%}
{%- assign button_oldest_post_1691010490420939832 = null -%}
{%- assign button_tags_1691010490420939832 = null -%}
{%- assign page_permalink_tag_1691010490420939832 = null -%}
{%- assign tag_word_1691010490420939832 = null -%}
{%- assign _page_title_1691010490420939832 = null -%}
{%- assign button_posts_1691010490420939832 = null -%}