{%- comment -%} init post_title_1703034642003921101 {%- endcomment -%}
{%- include as_self_or_null_the_variable_initialized_from_variable.liquid from_variable=include.from_post.title -%}
{%- assign post_title_1703034642003921101 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} post_1703034642003921101 {%- endcomment -%}
{%- include as_self_or_null_the_variable_initialized_from_variable.liquid from_variable=include.from_post -%}
{%- assign post_1703034642003921101 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} post_title_1703034642003921101 @title {%- endcomment -%}
{%- if post_title_1703034642003921101 -%}
	
{% comment %}@task : make function to capitalize the title {% endcomment %}
	
	{%- comment -%} category_background_color {%- endcomment -%}
	{%- include as_string_the_css_category_background_color_from_post.liquid from_post=post_1703034642003921101 -%}
	{%- assign category_background_color = return -%}
	{%- assign return = null -%}
	{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

	{%- comment -%} post_title_1703034642003921101 {%- endcomment -%}
	{%- include as_string_the_processed_markdown_without_paragraph_tags_from_text.liquid from_text = post_title_1703034642003921101 -%}
	{%- assign post_title_1703034642003921101 = return -%}
	{%- assign return = null -%}
	{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

	{% comment %} post id {% endcomment %}

	{%- comment -%} post_id_1703034642003921101 {%- endcomment -%}
	{%- include as_string_the_post_id_from_post.liquid from_post=post_1703034642003921101 -%}
	{%- assign post_id_1703034642003921101 = return -%}
	{%- assign return = null -%}
	{%- comment -%} `Liquid` does not have functions {%- endcomment -%}
	
	{%- capture post_title_1703034642003921101 -%}
		<div class="post_title">
		<span class="post_category {{ category_background_color }}">
			<span class="reader">[</span>
			{{ post_1703034642003921101.category | capitalize }}
			<span class="reader">]</span>
		</span>
		<h1 id="{{ post_id_1703034642003921101 }}" itemprop="name headline" aria-label="post title">
			{%- comment -%} <span class="category">⌜{{ post.category | capitalize }}⌟</span> {%- endcomment -%}
			{%- comment -%} thank you `PHP Storm` for making me writing spaces the hard way, I can level up my patience skills {%- endcomment -%}
			{{ " " | append: post_title_1703034642003921101  }}
		</h1>
	</div>

	{%- endcapture -%}

{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- assign return = post_title_1703034642003921101 -%}

{% comment %} resetting {% endcomment %}
{%- assign post_title_1703034642003921101 = null-%}
{%- assign post_id_1703034642003921101 = null-%}
{%- assign post_1703034642003921101 = null-%}