{%- capture return -%}

	{{ content }}

	<div class="row">

		<a class="col button background_color_posts" href="{{ '/tag/posts' | relative_url }}">
			posts
		</a>

		<a class="col button background_color_links" href="{{ '/links' | relative_url }}">
			links
		</a>

		<a class="col button background_color_readme" href="{{ '/readme' | relative_url }}">
			readme
		</a>

		<a class="col button background_color_build" href="{{ '/build' | relative_url }}">
			build
		</a>

		<a class="col button background_color_tags" href="{{ '/tag/tags' | relative_url }}">
			tags
		</a>

	</div>

{%- endcapture -%}


