{%- comment -%}<!--   DECLARATION -->{%- endcomment -%}

{%- assign page_title_1690569717129 = page.title -%}
{%- assign page_meta_description_1690569717129 = page.description -%}
{%- assign page_date_of_creation_1690569717129 = page.date_of_creation -%}
{%- assign date_of_modification_1690569717129 = page.date_of_modification -%}
{%- assign page_type_1690569717129 = page.type -%}
{%- assign boolean_remove_bootstrap_1690569717129 = page.boolean_remove_bootstrap -%}
{%- assign page_url_1690569717129 = page.url -%}
{%- assign site_name_1690569717129 = page.name -%}

{%- comment -%}<!-- just in case -->{%- endcomment -%}
{%- assign page_meta_date_of_creation_1690569717129 = null -%}
{%- assign page_meta_type_1690569717129 = null -%}
{%- assign page_meta_title_1690569717129 = null -%}
{%- assign page_canonical_url_1690569717129 = null -%}
{%- assign page_meta_site_name_1690569717129 = null -%}
{%- assign page_meta_image_color_1690569717129 = null -%}
{%- assign page_url_bootstrap_1690569717129 = null -%}
{%- assign page_url_css_1690569717129 = null -%}

{%- comment -%}<!-- handling empty strings -->{%- endcomment -%}

{%- if page_title_1690569717129 == "" -%}
    {%- assign page_title_1690569717129 = null -%}
{%- endif -%}

{%- if page_meta_description_1690569717129 == "" -%}
    {%- assign page_meta_description_1690569717129 = null -%}
{%- endif -%}

{%- if page_date_of_creation_1690569717129 == "" -%}
    {%- assign page_date_of_creation_1690569717129 = null -%}
{%- endif -%}

{%- if date_of_modification_1690569717129 == "" -%}
    {%- assign date_of_modification_1690569717129 = null -%}
{%- endif -%}

{%- if page_type_1690569717129 == "" -%}
    {%- assign page_type_1690569717129 = null -%}
{%- endif -%}

{%- if boolean_remove_bootstrap_1690569717129 == "" -%}
    {%- assign boolean_remove_bootstrap_1690569717129 = null -%}
{%- endif -%}

{%- if page_url_1690569717129 == "" -%}
    {%- assign page_url_1690569717129 = null -%}
{%- endif -%}

{%- if site_name_1690569717129 == "" -%}
    {%- assign site_name_1690569717129 = null -%}
{%- endif -%}

{%- comment -%}<!-- PROCESSING -->{%- endcomment -%}

{%- comment -%} page_date_of_creation_utc_1690569717129 {%- endcomment -%}
{%- include as_date_utc_from_custom_date.liquid from_custom_date=page_date_of_creation_1690569717129 -%}
{%- assign page_date_of_creation_utc_1690569717129 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}



{%- comment -%} date_of_modification_1690569717129 {%- endcomment -%}
{%- include as_date_utc_from_custom_date.liquid from_custom_date=date_of_modification_1690569717129 -%}
{%- assign date_of_modification_1690569717129 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}


{%- comment -%} page_image_color_1690569717129 {%- endcomment -%}
{%- include as_image_color_from_date.liquid from_date=page_date_of_creation_utc_1690569717129 -%}
{%- assign page_image_color_1690569717129 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} page_canonical_url_1690569717129 {%- endcomment -%}
{%- include as_canonical_the_page_url.liquid -%}
{%- assign page_canonical_url_1690569717129 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}


{%- if page_title_1690569717129 -%}
    {%- assign page_title_1690569717129 = page_title_1690569717129 | escape | replace: " &gt;", "&nbsp;&gt;" -%}
{%- endif -%}


{%- if page_date_of_creation_utc_1690569717129 -%}
    {%- capture page_meta_date_of_creation_1690569717129 -%}
        <meta property="article:published_time" content="{{ page_date_of_creation_utc_1690569717129 }}"/>
    {%- endcapture -%}
{%- endif -%}

{%- if page_meta_description_1690569717129 -%}
    {%- capture page_meta_description_1690569717129 -%}
        <meta name="description" content="{{ page_meta_description_1690569717129 }}"/>
        <meta property="og:description" content="{{ page_meta_description_1690569717129 }}"/>
    {%- endcapture -%}
{%- endif -%}

{%- if page_meta_type_1690569717129 -%}
    {%- capture page_meta_type_1690569717129 -%}
        <meta property="og:type" content="{{ page_type_1690569717129 }}"/>
    {%- endcapture -%}
{%- endif -%}

{%- if page_title_1690569717129 -%}
    {%- capture page_meta_title_1690569717129 -%}
        <meta property="og:title" content="{{ page_title_1690569717129 }}"/>
        <meta name="twitter:card" content="summary"/>
        <meta property="twitter:title" content="{{ page_title_1690569717129 }}"/>
        <title>{{ page_title_1690569717129 }}</title>
    {%- endcapture -%}
{%- endif -%}

{%- if site_name_1690569717129 -%}

    {%- capture page_canonical_url_1690569717129 -%}
        {%- include as_canonical_the_page_url.liquid -%}
        {% comment %}<link rel="canonical" href="{{ return }}"/>{% endcomment %}
        <meta property="og:url" content="{{ return }}"/>
    {%- endcapture -%}

    {%- capture page_meta_site_name_1690569717129 -%}
        <meta property="og:{{ site_name_1690569717129 }}" content="{{ site_name_1690569717129 }}"/>
    {%- endcapture -%}

{%- endif -%}

{%- if page_image_color_1690569717129 -%}

    {%- capture page_meta_image_color_1690569717129 -%}
        <meta name='og:image' content="{{ page_image_color_1690569717129 }}"/>
        <meta name='twitter:image' content='{{ page_image_color_1690569717129 }}'/>
    {%- endcapture -%}

{%- endif -%}


{% if boolean_remove_bootstrap_1690569717129 %}

    {%- assign boolean_remove_bootstrap_1690569717129 = null -%}

{%- else -%}

    {%- capture page_url_bootstrap_1690569717129 -%}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
    {%- endcapture -%}

{% endif %}

{%- capture page_url_css_1690569717129 -%}
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
{%- endcapture -%}
{%- comment -%}  {%- endcomment -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">
        <meta property="og:locale"
              content="en_US"/>
        {%- comment -%}  {%- endcomment -%}
        <meta name="twitter:creator" content="jeremyvlegros">
        {{ page_meta_date_of_creation_1690569717129 }}
        {{ page_meta_description_1690569717129 }}
        {{ page_meta_type_1690569717129 }}
        {{ page_meta_title_1690569717129 }}
        {{ page_canonical_url_1690569717129 }}
        {{ page_meta_site_name_1690569717129 }}
        {{ page_meta_image_color_1690569717129 }}
        {{ page_url_bootstrap_1690569717129 }}
        {{ page_url_css_1690569717129 }}
    </head>
    <body>
        <main class="page-content" aria-label="Content">
        {{ content }}
        </main>
    </body>
</html>



{%- comment -%} resetting {%- endcomment -%}
{%- assign page_title_1690569717129               = null -%}
{%- assign page_meta_description_1690569717129    = null -%}
{%- assign page_date_of_creation_1690569717129    = null -%}
{%- assign date_of_modification_1690569717129     = null -%}
{%- assign page_type_1690569717129                = null -%}
{%- assign boolean_remove_bootstrap_1690569717129 = null -%}
{%- assign page_url_1690569717129                 = null -%}
{%- assign site_name_1690569717129                = null -%}
{%- assign page_meta_date_of_creation_1690569717129 = null -%}
{%- assign page_meta_type_1690569717129             = null -%}
{%- assign page_meta_title_1690569717129            = null -%}
{%- assign page_canonical_url_1690569717129         = null -%}
{%- assign page_meta_site_name_1690569717129        = null -%}
{%- assign page_meta_image_color_1690569717129      = null -%}
{%- assign page_url_bootstrap_1690569717129         = null -%}
{%- assign page_url_css_1690569717129               = null -%}
