{{ content }}

<br>

<div class="row">

  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{ '/tag/posts' | relative_url }}"> timeline </a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{ '/links' | relative_url }}"> links </a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{ '/tests/liquid' | relative_url }}"> liquid </a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{ '/tests/sandbox' | relative_url }}"> sandbox </a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{ '/tag/tags' | relative_url }}"> tags </a>

</div>


