{%- comment -%} site posts  {%- endcomment -%}

{%- comment -%} posts {%- endcomment -%}
{%- include as_posts_from_tag.liquid from_tag=include.from_tag -%}
{%- assign posts_1690569561039 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} page title {%- endcomment -%}
{%- assign page_title = page.title -%}

{%- comment -%} page_date_of_modification {%- endcomment -%}
{%- include as_modification_date_without_id_from_date.liquid from_date=page.date_of_modification -%}
{%- assign page_date_of_modification = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%}  dates of first/top and last/bottom posts  {%- endcomment -%}
{%- assign _date_top_1690569561039 = posts_1690569561039[0].date_of_creation -%}
{%- assign _date_bottom_1690569561039 = posts_1690569561039[-1].date_of_creation -%}

{%- comment -%}  HTML top and bottom arrows  {%- endcomment -%}
{%- include as_html_top_and_bottom_arrows_from_date_top_and_date_bottom.liquid
        from_date_top=_date_top_1690569561039
        from_date_bottom=_date_bottom_1690569561039 -%}
{%- assign html_top_and_bottom_arrows = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%}HTML index post list  {%- endcomment -%}
{%- include as_html_the_post_index_list_from_posts.liquid from_posts=posts_1690569561039 -%}
{%- assign html_post_index_list = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%}HTML post list  {%- endcomment -%}
{%- include as_html_the_post_list_from_posts.liquid from_posts=posts_1690569561039 -%}
{%- assign html_post_list = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%}  main HTML {%- endcomment -%}

<div class="timeline container-fluid">

    {%- comment -%}printing HTML top and bottom arrows  {%- endcomment -%}
    {{ html_top_and_bottom_arrows }}

    {%- comment -%}printing content of the next thing  {%- endcomment -%}
    {{ content }}

    <div class="row g-sm-6">

        <div class="col-12 col-sm-5 col-lg-4">
            <div id="side_index" class="row">
                <div class="side_index_content">
                    <ul>
                        {%- if page_title -%}
                            <li>
                                <h1 class="page-heading">{{ page_title }}</h1>
                            </li>
                        {%- endif -%}

                        {%- comment -%}printing HTML index post list  {%- endcomment -%}
                        {{ html_post_index_list }}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-7 col-lg-8 g-0">
            <ul class="post-list">

                {%- comment -%}printing HTML post list  {%- endcomment -%}
                {{ html_post_list }}


            </ul>
        </div>

    </div>

    <div class="dates">

        <br>

        {%- if page_date_of_creation -%}
            <span class='date date_of_creation'> {{ page_date_of_creation }} </span>
        {%- endif -%}

        <br>

        {%- if page_date_of_modification -%}
            <span class="date date_of_modification">
            {{ page_date_of_modification }}
            </span>
        {%- endif -%}

    </div>

</div>


{%- assign html_post_index_list = null -%}
{%- assign html_post_list = null -%}
{%- assign date_of_modification_short = null -%}
{%- assign html_top_and_bottom_arrows = null -%}
{%- assign _date_top_1690569561039 = null -%}
{%- assign _date_bottom_1690569561039 = null -%}