{%- assign post_content_1691010490420939832 = null -%}
{%- assign post_no_color_background_1691010490420939832 = include.from_post.no_color_background -%}
{%- assign post_date_of_creation_1691010490420939832 = include.from_post.date_of_creation -%}
{%- assign post_date_of_modification_1691010490420939832 = include.from_post.date_of_modification -%}
{%- assign post_title_1691010490420939832 = include.from_post.title -%}
{%- assign post_tags_1691010490420939832 = include.from_post.tags -%}
{%- assign post_id_1691010490420939832 = null -%}
{%- assign first_post_id_1691010490420939832 = include.with_first_post_id -%}
{%- assign last_post_id_1691010490420939832 = include.with_last_post_id -%}

{%- comment -%} dealing with empty string : first_post_id_1691010490420939832  {%- endcomment -%}
{%- if first_post_id_1691010490420939832 == "" -%}
    {%- assign first_post_id_1691010490420939832 = null -%}
{%- endif -%}

{%- comment -%} dealing with empty string : first_post_id_1691010490420939832  {%- endcomment -%}
{%- if last_post_id_1691010490420939832 == "" -%}
    {%- assign last_post_id_1691010490420939832 = null -%}
{%- endif -%}



{%- if include.from_post.layout == "post" -%}

    {%- if include.from_post.category == "post" -%}

        {%- assign post_content_1691010490420939832 = include.from_post.content -%}

    {%- else -%}

        {%- assign post_content_1691010490420939832 = content -%}

    {%- endif -%}

{%- endif -%}

{%- comment -%} dealing with empty string : no_color_background  {%- endcomment -%}
{%- if post_no_color_background_1691010490420939832 == "" -%}
    {%- assign post_no_color_background_1691010490420939832 = null -%}
{%- endif -%}

{%- comment -%} dealing with empty string : date_of_creation  {%- endcomment -%}
{%- if post_date_of_creation_1691010490420939832 == "" -%}
    {%- assign post_date_of_creation_1691010490420939832 = null -%}
{%- endif -%}

{%- comment -%} dealing with empty string : date_of_modification  {%- endcomment -%}
{%- if post_date_of_modification_1691010490420939832 == "" -%}
    {%- assign post_date_of_modification_1691010490420939832 = null -%}
{%- endif -%}

{%- comment -%} dealing with empty string : title  {%- endcomment -%}
{%- if post_title_1691010490420939832 == "" -%}
    {%- assign post_title_1691010490420939832 = null -%}
{%- endif -%}

{%- comment -%} generating post_no_color_background_1691010490420939832  {%- endcomment -%}
{%- comment -%} option {%- endcomment -%}
{%- if post_no_color_background_1691010490420939832 -%}
    {%- assign post_color_background_1691010490420939832 = null -%}{%- comment -%} preventing random behavior{%- endcomment -%}
{%- else -%}
    {%- comment -%} generating post_color_background_1691010490420939832 {%- endcomment -%}
    {%- include as_color_background_from_date.liquid from_date=post_date_of_creation_1691010490420939832 -%}
    {%- assign post_color_background_1691010490420939832 = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}
{%- endif -%}

{%- comment -%} date_of_creation without ID {%- endcomment -%}
{%- if post_date_of_creation_1691010490420939832 -%}

    {%- comment -%}  id {%- endcomment -%}
    {%- include as_id_from_date.liquid from_date=post_date_of_creation_1691010490420939832 -%}
    {%- assign post_id_1691010490420939832 = return -%}
    {%- assign return = null -%}

    {%- comment -%} post_date_of_creation_1691010490420939832 {%- endcomment -%}
    {%- include as_date_without_id_from_date.liquid from_date=post_date_of_creation_1691010490420939832 -%}
    {%- assign post_date_of_creation_1691010490420939832 = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


{%- endif -%}

{%- comment -%} post_title_1691010490420939832 HTML {%- endcomment -%}
{%- if post_title_1691010490420939832 -%}
    {%- capture post_title_1691010490420939832 -%}
        <h1 id="{{ post_id_1691010490420939832 }}" class="post-title" itemprop="name headline">
            {{ post_title_1691010490420939832 }}
        </h1>
    {%- endcapture -%}
{%- endif -%}


{%- comment -%} post_date_of_creation_1691010490420939832 HTML {%- endcomment -%}
{%- if post_date_of_creation_1691010490420939832 -%}
    {%- capture post_date_of_creation_1691010490420939832 -%}
        <br>
        <span class='date date_of_creation'> {{ post_date_of_creation_1691010490420939832 }} </span>
    {%- endcapture -%}
{%- endif -%}

{%- comment -%} post_date_of_modification_1691010490420939832 processing {%- endcomment -%}
{%- include as_modification_date_without_id_from_date.liquid from_date=post_date_of_modification_1691010490420939832 -%}
{%- assign post_date_of_modification_1691010490420939832 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} post_date_of_modification_1691010490420939832 HTML {%- endcomment -%}
{%- if post_date_of_modification_1691010490420939832 -%}
    {%- capture post_date_of_modification_1691010490420939832 -%}
        <br>
        <span class="date date_of_modification"> {{ post_date_of_modification_1691010490420939832 }} </span>
    {%- endcapture -%}
{%- endif -%}

{%- comment -%} getting the lines for tags{%- endcomment -%}
{%- capture post_tags_1691010490420939832 -%}
    <br>

    <div class="row tags">

        {%- if include.from_post.title == "links" or include.from_post.title == "Index" -%}

        {%- else -%}
            {%- capture home_1691010490420939832 -%}
                {% comment %} Home button {% endcomment %}
                <a class="col button" style="background-color: rgba(0,0,0,60%);border-width: 2px"
                   href="{{ '/' | relative_url }}"> ⌂&nbsp;Index </a>
            {%- endcapture -%}

            {{ home_1691010490420939832 }}


        {%- comment -%} skipping links for now {%- endcomment -%}

        {%- comment -%}  "post id" doesn't show in single posts {%- endcomment -%}
        {%- if page.category != "post" -%}

            {% comment %} bottom button {% endcomment %}
            {%- capture bottom_1691010490420939832 -%}
                {%- assign tag_url_1691010490420939832 = page.url | append: "#" | append: last_post_id_1691010490420939832 | relative_url -%}
                <a class="col button" style="background-color: rgba(0,0,0,60%);border-width: 2px"
                   href={{ tag_url_1691010490420939832 }}> ⇩&nbsp;Bottom</a>
            {%- endcapture -%}

                {% comment %} top button {% endcomment %}
                {%- capture top_1691010490420939832 -%}
                {%- assign tag_url_1691010490420939832 = page.url | append: "#" | append: first_post_id_1691010490420939832 | relative_url -%}
                <a class="col button" style="background-color: rgba(0,0,0,60%);border-width: 2px"
                   href={{ tag_url_1691010490420939832 }}> ⇧&nbsp;Top</a>
            {%- endcapture -%}


                {%- if first_post_id_1691010490420939832 and post_id_1691010490420939832 == first_post_id_1691010490420939832 -%}
                {{ bottom_1691010490420939832 }}
            {%- elsif last_post_id_1691010490420939832 and post_id_1691010490420939832 == last_post_id_1691010490420939832 -%}
                {{ top_1691010490420939832 }}
            {%- else -%}

                {%- if last_post_id_1691010490420939832 -%}
                    {{ bottom_1691010490420939832 }}
                {%- endif -%}

                {%- if first_post_id_1691010490420939832 -%}
                    {{ top_1691010490420939832 }}
                {%- endif -%}

            {%- endif -%}

                {% comment %} id in timeline {% endcomment %}
                {%- assign tag_url_1691010490420939832 = "/post/" | append: post_id_1691010490420939832 | relative_url -%}
                <a class="col button " href={{ tag_url_1691010490420939832 }}> {{ "#" | append: post_id_1691010490420939832 }}
                </a>

        {%- endif -%}



        {%- for tag in post_tags_1691010490420939832 -%}

            {%- comment -%} -------------------------------------------------------{%- endcomment -%}
            {%- comment -%} do not display the tag when it is the same as the page {%- endcomment -%}

            {%- assign page_permalink_tag = page.permalink | split: "/" | last -%}

            {%- comment -%} dealing with empty string : permalink  {%- endcomment -%}
            {%- if page_permalink_tag == "" -%}
                {%- assign page_permalink_tag = null -%}
            {%- endif -%}

            {%- assign _tag = tag | replace: "#", "" -%}

            {%- comment -%} dealing with empty string : _tag  {%- endcomment -%}
            {%- if _tag == "" -%}
                {%- assign _tag = null -%}
            {%- endif -%}


            {%- if page.permalink and _tag and page_permalink_tag == _tag -%}

                {%- assign page_permalink_tag = null -%}
                {%- assign _tag = null -%}

                {%- continue -%}

            {%- endif -%}
            {%- comment -%} ---------------------------------------------------------- {%- endcomment -%}

            {%- comment -%}  tag {%- endcomment -%}
            {%- if tag contains "#" -%}

                {%- comment -%}  get back to the timeline at the post position {%- endcomment -%}
                {%- if page.category != "timeline" -%}

                    {%- if tag == "#posts" and page.title != "tags" -%}

                        {% comment %} #posts {% endcomment %}
                        {%- assign tag_url_1691010490420939832 = "/tag/posts#" | append: post_id_1691010490420939832 | relative_url -%}
                        <a class="col button"
                           href={{ tag_url_1691010490420939832 }}> {{ "#posts"}}
                        </a>

                        {%- continue -%}
                    {%- endif -%}
                {%- endif -%}

                {%- comment -%} standard tag {%- endcomment -%}
                {%- include as_tag_from_word.liquid from_word=tag -%}
                {{ return }}
                {%- assign return = null -%}

            {%- endif -%}

        {%- endfor -%}
        {%- endif -%}

    </div>
{%- endcapture -%}


{%- comment -%} main HTML {%- endcomment -%}

<article class="post {{ post_color_background_1691010490420939832 }}" itemscope
         itemtype="http://schema.org/BlogPosting">

        <header class="post-header">

            {{ post_title_1691010490420939832 }}

        </header>

        <div class="post-content" itemprop="articleBody">

            {{ post_content_1691010490420939832 }}

        </div>

        <div class="row footer">

            <div class="col">
                {{ post_date_of_creation_1691010490420939832 }}
                {{ post_date_of_modification_1691010490420939832 }}
                {{ post_tags_1691010490420939832 }}
            </div>
        </div>
</article>


{%- comment -%}  resetting {%- endcomment -%}
{%- assign post_content_1691010490420939832 = null -%}
{%- assign post_no_color_background_1691010490420939832 = null -%}
{%- assign post_date_of_creation_1691010490420939832 = null -%}
{%- assign post_date_of_modification_1691010490420939832 = null -%}
{%- assign post_title_1691010490420939832 = null -%}
{%- assign post_tags_1691010490420939832 = null -%}
{%- assign post_id_1691010490420939832 = null -%}
{%- assign tag_url_1691010490420939832 = null -%}
{%- assign first_post_id_1691010490420939832 = null %}
{%- assign last_post_id_1691010490420939832 = null %}
{%- assign top_1691010490420939832 = null -%}
{%- assign bottom_1691010490420939832 = null -%}
{%- assign home_1691010490420939832 = null -%}