{%- comment -%} first pass {%- endcomment -%}

<div class="row">
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/about' |relative_url }}"> #about</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/avatar' |relative_url }}"> #avatar</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/css' |relative_url }}"> #css</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/curriculum' |relative_url }}"> #curriculum</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/highlighting' |relative_url }}"> #highlighting</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/intellij' |relative_url }}"> #intellij</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/jekyll' |relative_url }}"> #jekyll</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/liquid' |relative_url }}"> #liquid</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/opinion' |relative_url }}"> #opinion</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/php' |relative_url }}"> #php</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/post' |relative_url }}"> #post</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/security' |relative_url }}"> #security</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/status' |relative_url }}"> #status</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/syntax' |relative_url }}"> #syntax</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/tag' |relative_url }}"> #tag</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/tumblr' |relative_url }}"> #tumblr</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/twitter' |relative_url }}"> #twitter</a>
  <a class="col button" style="text-decoration:none;background-color: rgba(0,0,0,45%)" href="{{'/tag/website' |relative_url }}"> #website</a>
</div>