---
title                    : null
description              : null
date_of_creation         : null
date_of_modification     : null
boolean_remove_bootstrap : null
---
{%- include procedure_initialize_layout_base.liquid -%}

{%- include CONSTANTS/DOCTYPE_HTML.liquid -%}

{%- capture html_1690569717129 -%}

	{%- comment -%} Because PHP Storm is screaming *red* that it is a liquid file {%- endcomment -%}
	{{ DOCTYPE_HTML }}
	
	<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta property="og:locale" content="en_US"/>

		{{ page_meta_date_of_creation_1690569717129 }}
		{{ page_meta_description_1690569717129 }}
		{{ page_meta_type_1690569717129 }}
		{{ page_meta_title_1690569717129 }}
		{{ page_meta_site_name_1690569717129 }}
		{{ page_url_css_1690569717129 }}
		{{ page_favicon_1690569717129 }}
		
		{%- comment -%} now PHP STORM happy, it is still needed even when the file is `.liquid` whereas doctype html was showed as error {%- endcomment -%}
		{%- if page_title_1690569717129 -%}
			<title>
				{{ page_title_1690569717129 }}
			</title>
		{%- endif -%}
	</head>

	<body>

			<main class="page" aria-label="page">

			{{ content }}

			</main>

	</body>

</html>

{%- endcapture -%}

{%- comment -%} @display  {%- endcomment -%}
{%- include procedure_display_the_minified_html_from_html.liquid from_html=html_1690569717129 -%}

{% comment %} resetting {% endcomment %}
{%- assign page_favicon_1690569717129 = null -%}
{%- assign page_meta_date_of_creation_1690569717129 = null -%}
{%- assign page_meta_description_1690569717129 = null -%}
{%- assign page_meta_site_name_1690569717129 = null -%}
{%- assign page_meta_type_1690569717129 = null -%}
{%- assign page_title_1690569717129 = null -%}
{%- assign page_url_1690569717129 = null -%}
{%- assign page_url_css_1690569717129 = null -%}
{%- assign html = null -%}



